<div class="container bg-main-light p-4 border shadow-lg my-5 rounded"
  *ngIf="cartDetails?.data?.products!.length > 0; else emptyCart">
  <div class="d-flex justify-content-between align-items-center">
    <div class="">
      <h4 class="my-3 fw-bold">Shop Cart</h4>
      <p class="fw-bold font-sm border-bottom pb-3">Total Price : <span class="text-main ">
          {{cartDetails?.data?.totalCartPrice | addEGP}} </span> </p>
    </div>
    <div class="">
      <button (click)="ClearUserCart()" class="btn btn-outline-danger">
        <i class="fa-solid fa-trash"></i>
        Clear Your Cart</button>
    </div>
  </div>

  <div *ngFor=" let carItems of cartDetails?.data?.products" class="row p-3 border-bottom pb-3 align-items-center">
    <div class="col-md-1">
      <div>
        <img [src]="carItems.product.imageCover" class="w-100 img-thumbnail" alt="">
      </div>
    </div>
    <div class="col-md-11">
      <div class="d-flex justify-content-between">
        <div>
          <p class="font-sm fw-bold my-0">{{carItems.product.category.name}}</p>
          <!-- <p class="font-sm fw-bold my-0">{{carItems.product.title.split(' ').slice(0,15).join(' ')}}</p> -->
          <p class="fw-bold font-sm my-0  ">Price : <span class="text-main">{{carItems.price | addEGP}}</span> </p>
          <p class="fw-bold font-sm my-0  ">Total Product Price : <span
              class="text-main">{{carItems.count*carItems.price | addEGP}} </span></p>
          <button (click)="removeCartItem(carItems.product._id)" class="btn m-0 p-0">
            <i class="fa-regular fa-trash-can text-main"></i>
            <span class="ms-1 fw-bold font-sm">Remove</span>
          </button>
        </div>

        <div>

          <button (click)="updateCartItem(carItems.product._id,carItems.count+1)" (click)="  showSuccess()"
            class="border-main rounded text-main">+</button>
          <span class="mx-3">{{carItems.count}} </span>
          <button (click)="updateCartItem(carItems.product._id,carItems.count-1)" (click)="   showError()"
            class="border-main rounded text-err">-</button>
        </div>
      </div>
    </div>
  </div>

  <div class="d-flex justify-content-end">
    <a [routerLink]="['/shippingAddress',cartDetails?.data?._id]" class="btn bg-main  text-light my-3">Check out
      <img src="./assets/images/visa-1.svg" width="40px" class="mx-2 ">
    </a>
  </div>
</div>


<app-loading *ngIf="isLoading"></app-loading>



<ng-template #emptyCart>
  <div class="container my-5 rounded text-center">
    <img src="./assets/images/cartEmpty.png" alt="">
    <h4 class="my-3 fw-bold text-main">Your cart is empty</h4>
    <p class="fw-bold font-sm">Please add items to your cart.</p>
  </div>
</ng-template>