<nav   class="navbar navbar-expand-lg navbar-light border-bottom shadow-sm">
  <div class="container">
    <a class="navbar-brand" routerLink="home">
      <img src="assets/images/freshcart-logo.svg" alt="FreshCartLogo">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <ul *ngIf="isUserLogin" class="navbar-nav me-auto mb-2 mb-lg-0">

        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="home">Home</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="cart">Cart</a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="products">Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="categories">Categories</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="brands">Brands</a>
        </li>
      </ul>


      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">

        <li *ngIf="isUserLogin" class="nav-item d-flex align-items-center me-3 social">
          <a target="_blank" href="https://www.instagram.com/"> <i class="mx-2 cursor-pointer fab fa-instagram"></i></a>
          <a target="_blank" href="https://www.facebook.com/"> <i class="mx-2 cursor-pointer fab fa-facebook"></i> </a>
          <a target="_blank" href="https://www.tiktok.com/explore?lang=ar"><i
              class="mx-2 cursor-pointer fab fa-tiktok"></i> </a>
          <a target="_blank" href="https://x.com/home"> <i class="mx-2 cursor-pointer fab fa-twitter"></i> </a>
          <a target="_blank" href="https://www.linkedin.com/feed/"> <i class="mx-2 cursor-pointer fab fa-linkedin"></i>
          </a>
          <a target="_blank" href="https://www.youtube.com/"> <i class="mx-2 cursor-pointer fab fa-youtube"></i></a>

        </li>
        <li *ngIf="!isUserLogin" class="nav-item d-flex justify-content-center align-items-center font-sm fw-bold">
          Already have an account?
          <a class="nav-link" routerLink="login">Sign in</a>
        </li>
        <!-- <li class="nav-item">
          <a *ngIf="!isUserLogin" class="nav-link" routerLink="register">Register</a>
        </li> -->


        <li class="nav-item">
          <a *ngIf="isUserLogin" routerLink="/cart" class="nav-link cursor-pointer position-relative">
            <i class="fa-solid fa-cart-shopping fs-3"></i>
            <span class="position-absolute top-25 start-75 translate-middle badge rounded bg-main">
              {{numOfCartItems}} +
            </span>
          </a>
        </li>

        <li class="nav-item mx-lg-3">
          <a *ngIf="isUserLogin" routerLink="/allWishList" class="nav-link cursor-pointer position-relative">
            <i class="fas fa-heart fs-3 text-danger"></i>
            <span class="position-absolute top-25 start-75 translate-middle badge rounded bg-main">
              {{wishListCount}}
            </span>
          </a>
        </li>


        <li class=" ms-3 me-0 fw-bold nav-item">
          <a *ngIf="isUserLogin" (click)="handelLogout()" class="nav-link cursor-pointer">SignOut</a>
        </li>



      </ul>

    </div>
  </div>
</nav>