 

<main>
  <!-- section -->
  <section class="my-lg-5 my-5">
    <!-- container -->
    <div class="container">
      <!-- row -->
      <div class="row justify-content-center align-items-center">
        <div class="col-12 col-md-6 col-lg-4 order-lg-1 order-2">
          <!-- img -->
          <img src="./assets/images/F.G.P.svg" alt="" class="img-fluid" />
        </div>
        <div class="col-12 col-md-6 offset-lg-1 col-lg-4 order-lg-2 order-1 d-flex align-items-center">
          <div>
            <div class="mb-lg-9 mb-5">
              <!-- heading -->
              <h1 class="mb-2 h2 fw-bold">Forgot your password?</h1>
              <p class="font-sm text-secondary">Please enter the email address associated with your account and We will
                email you a link to reset your password.</p>
            </div>
            <!-- form -->
            <form (ngSubmit)="handelForGetPassword(forGetPasswordForm)" [formGroup]="forGetPasswordForm">
              <p *ngIf="errorMessage" class="text-center text-danger">{{errorMessage}}
                <i class="fa-solid fa-xmark ms-2"></i>
              </p>
              <!-- row -->
              <div class="row g-3">
                <!-- col -->
                <div class="col-12">
                  <!-- input -->
                  <label class="form-label visually-hidden" for="email">Email address</label>
                  <input
                    [ngClass]="{'is-valid':forGetPasswordForm.get('email')?.valid, 'is-invalid':forGetPasswordForm.get('email')?.invalid && forGetPasswordForm.get('email')?.dirty }"
                    formControlName="email" type="email" id="email" class="form-control" placeholder="Email" required />
                  <div *ngIf="forGetPasswordForm.get('email')?.invalid&&forGetPasswordForm.get('email')?.touched"
                    class="text-danger">
                    <p *ngIf=" forGetPasswordForm.get('email')?.getError('required')" class="my-0">email is required</p>
                    <p *ngIf=" forGetPasswordForm.get('email')?.getError('email')" class="my-0">please enter a valid
                      email</p>
                  </div>


                </div>

                <!-- btn -->
                <div class="col-12 d-grid gap-2">
                  <button [disabled]="forGetPasswordForm.invalid || isLoading" class="btn bg-main text-white">
                    <span *ngIf="!isLoading">Reset Password</span>
                    <span *ngIf="isLoading"><i class="fas  fa-spin fa-spinner"></i></span>
                  </button>
                  <a routerLink="/register" class="btn btn-light">Back</a>
                </div>


              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>