<app-loading *ngIf="isLoading"></app-loading>
<app-home-main-slider></app-home-main-slider>
<app-home-categories-slider></app-home-categories-slider>

<input [(ngModel)]="searchItem" type="text" class="my-3 form-control" placeholder="&#xF002; Search by product name ..."
  style="font-family:Arial, FontAwesome" />
<div class="row ">
  <h3 class="fw-bold">Popular items this season</h3>

  <div *ngFor="let product of allProducts|search:searchItem" class="col-sm-12 col-md-4  col-xl-3">
    <app-product [product]="product"></app-product>
  </div>
</div>