<app-loading *ngIf="isLoading"></app-loading>


<section class="my-lg-5">
  <div class="card card-product">
    <div class="card-body">
      <a [routerLink]="['/product',product._id]">
        <div class="text-center">
          <img [src]="product.imageCover" [alt]="product.title" class="mb-3 w-75" />
        </div>
        <div class="text-small mb-1">
          <span class="text-decoration-none text-muted"><small>{{product.category.name}}</small></span>
        </div>
        <h2 class="fs-6"><span class="text-inherit text-decoration-none fw-bold">{{product.title|titleSlice:2}}</span>
        </h2>
        <div>
          <span class="text-dark fw-bold">{{product.price | addEGP}}</span>
        </div>
        <div>
          <small class="text-warning">
            <i class="fa-solid fa-star rating-color  me-2"></i>
          </small>
          <span class="text-muted small">{{product.ratingsAverage}}</span>
        </div>
      </a>

      <div class="d-flex justify-content-between align-items-center mt-3 position-relative  card-product-action">
        <div class=" d-flex justify-content-between  align-items-center card-product-action-hover">
          <button (click)="addToCart(product._id)" class="btn bg-main text-white">
            <span *ngIf="!isLoading">AddToCart
              <i class="fas fa-shopping-cart ms-2"></i>
            </span>
            <span *ngIf="isLoading"><i class="fas  fa-spin fa-spinner"></i></span>
          </button>
        </div>
        <!--
        <i (click)="addToWishlist(product._id)" [class]="isWishListProduct(product._id)?'fas text-danger':'fa-regular'"
          class="fa-heart fs-4 cursor-pointer fs-3 card-product-action-hover me-4"></i> -->
        <i (click)="addToWishlist(product._id)" [class]="isWishListProduct(product._id)?'fa-heart-crack':'fa-heart'"
          class="text-main fa-solid fs-4 cursor-pointer fs-3 card-product-action-hover me-4"></i>
      </div>

    </div>
  </div>

</section>