
<main>
  <!-- section -->
  <section class="my-lg-5 my-5 py-5">
     <!-- container -->
     <div class="container">
        <!-- row -->
        <div class="row justify-content-center align-items-center">
           <div class="col-12 col-md-6 col-lg-4 order-lg-1 order-2">
              <!-- img -->
              <img src="./assets/images/Reset Password.svg" alt="" class="img-fluid" />
           </div>
           <div class="col-12 col-md-6 offset-lg-1 col-lg-4 order-lg-2 order-1 d-flex align-items-center">
              <div>
                 <div class="mb-lg-5 mb-5">
                    <!-- heading -->
                    <h1 class="mb-2 h2 fw-bold">Reset Password?</h1>
                    <p class="font-sm text-secondary fw-bold">Please enter the email address associated with your account to set your new password.</p>
                 </div>
                 <!-- form -->
                 <form (ngSubmit)="handelResetPassword(resetPassword)" [formGroup]="resetPassword">
                  <p *ngIf="errorMessage" class="text-center text-danger">{{errorMessage}}
                    <i class="fa-solid fa-xmark ms-2"></i>
                  </p>
                  <!-- row -->
                    <div class="row g-3">
                      <div class="col-12">
                        <!-- input -->
                        <label class="form-label visually-hidden" for="email">Email address</label>
                        <input
                          [ngClass]="{'is-valid':resetPassword.get('email')?.valid, 'is-invalid':resetPassword.get('email')?.invalid && resetPassword.get('email')?.dirty }"
                          formControlName="email" type="email" id="email" class="form-control" placeholder="Email" required />

                        <div *ngIf="resetPassword.get('email')?.invalid && resetPassword.get('email')?.touched" class="text-danger">
                          <p *ngIf="resetPassword.get('email')?.getError('required')" class="my-0 font-sm">Email is required</p>
                          <p *ngIf="resetPassword.get('email')?.getError('email')" class="my-0 font-sm">Please enter a valid email</p>
                        </div>
                      </div>
                      <div class="col-12">
                        <!-- input -->
                        <div class="password-field position-relative">
                          <label class="form-label visually-hidden" for="newPassword">Password</label>
                          <input
                            [ngClass]="{'is-valid':resetPassword.get('newPassword')?.valid, 'is-invalid':resetPassword.get('newPassword')?.invalid && resetPassword.get('newPassword')?.dirty }"
                            formControlName="newPassword" [type]="passwordFieldType" id="newPassword" class="form-control" placeholder="******" required />
                          <div class="position-absolute top-50 eye translate-middle-y me-3 cursor-pointer" (click)="togglePasswordVisibility()">
                            <i class="fa" [ngClass]="passwordFieldType === 'password' ? 'fa-eye' : 'fa-eye-slash'"></i>
                          </div>
                          <div *ngIf="resetPassword.get('newPassword')?.invalid && resetPassword.get('newPassword')?.touched" class="text-danger">
                            <p *ngIf="resetPassword.get('newPassword')?.getError('required')" class="my-0">Password is required</p>
                            <p *ngIf="resetPassword.get('newPassword')?.getError('pattern')" class="my-0">Password must start with an uppercase letter followed by at least 5 characters</p>
                          </div>
                        </div>
                      </div>
                      <!-- btn -->
                      <div class="col-12 d-grid">
                        <button [disabled]="resetPassword.invalid || isLoading" class="btn bg-main text-white">
                          <span *ngIf="!isLoading">Send</span>
                          <span *ngIf="isLoading"><i class="fas fa-spin fa-spinner"></i></span>
                        </button>
                      </div>
                      <a routerLink="/verify-reset-code" class="btn btn-light">Back</a>
                    </div>
                 </form>
              </div>
           </div>
        </div>
     </div>
  </section>
</main>


